<?php $items = $block->getList(); ?>
<?php if (count($items)): ?>
    <table>
        <?php foreach ($items as $item): ?>
            <tr>
                <td style="width: 120px;"><?php echo date('Y-m-d H:i', strtotime($item['date'])) . ','; ?></td>
                <td style="width: 200px;"><b><?php echo $item['doner']; ?>:</b></td>
                <td><?php echo $item['message']; ?></td>
            </tr>
        <?php endforeach; ?>
    </table>
<?php else: ?>
    Let's start!
<?php endif; ?>