<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper(\Magento\Search\Helper\Data::class);
?>
<div class="block block-search" style="width: 300px">
    <div class="block block-title"><strong><?= /* @escapeNotVerified */ __('Search') ?></strong></div>
    <div class="block block-content">
        <?php if($block->isCustomerLoggedIn()): ?>
            <div style="font-size: 22px">You collected <?php echo $block->getCustomerPoints(); ?> coins</div>
            <div style="font-size: 14px">... and still have <?php echo $block->getPointsToGive(); ?> coins to give</div>
        <?php endif; ?>
    </div>
</div>
